@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		scroll-behavior: smooth;
		font-family: 'Krub';
		font-style: normal;
		font-weight: 400;
		font-display: 'swap';
		src: url(./assets/fonts/krub/Krub-Italic.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Krub';
		font-style: italic;
		font-weight: bold;
		font-display: 'swap';
		src: url(./assets/fonts/krub/Krub-BoldItalic.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Krub';
		font-style: normal;
		font-weight: 700;
		font-display: 'swap';
		src: url(./assets/fonts/krub/Krub-Bold.woff2) format('woff2');
	}
	@font-face {
		font-family: 'llrg';
		font-style: normal;
		font-weight: 400;
		font-display: 'swap';
		src: url(./assets/fonts/LLRG/LLRG.woff) format('woff');
	}
	@media (max-width: 400px) {
		html {
			font-size: 4vw;
		}
	}
	@media (min-width: 1281px) {
		html {
			font-size: 1.25vw;
		}
	}
	@media (min-width: 1920px) {
		html {
			font-size: 24px;
		}
	}
	html {
		@apply touch-manipulation font-medium antialiased;
	}
}

@layer components {
	.revealed [class*='reveal:'] {
		transition-duration: 0.75s;
		transition-property: opacity, transform;
		transition-timing-function: ease-out;
		will-change: opacity, transform;
	}
}

@layer utilities {
	.bg-image {
		background-image: url(./assets/images/bg-1.webp);
	}
	.bg-image2 {
		background-image: url(./assets/images/bg-2.webp);
	}
	.bg-image3 {
		background-image: url(./assets/images/bg-3.webp);
	}
	body {
		@apply scroll-smooth;
	}
}
